- content_for :top_bar do
  .best_services
    Login to oTogo!
  .login_description
    %h2 Lorem Ipsum is siple dumy
    %p dummy text ever since the 1500s, when an printer
    %p took a galley of type and scrambled.
    %p took a galley of type and scrambled.
  #form_login
    .form
      .form_title
        %span
          %b Login
          to your account
        Don't have an account?
        =link_to("Register", new_user_registration_path)
      %ul.name
        %li Email or User Name
        %li Password
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %ul
          %li
            = f.email_field :email
          %li
            = f.password_field :password
          %li
            = f.check_box :remember_me
            = f.label :remember_me
          %li
            = f.submit "Sign in"
          %li
            = link_to "Forgot your password?", new_password_path(resource_name)
