!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= h yield(:title)
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "feature-carousel"
    = stylesheet_link_tag "slider"
    = javascript_include_tag "application"
  %body
  #container
    #wrapper
      #header
        #logo
        #navigation
          %ul
            %li
              %a{:href => "#"} SERVICES
            %li
              %a{:href => "#"} BENEFITS
            %li
              %a{:href => "#"} PLAN&PRACING
          =link_to(image_tag("/assets/login.png"), new_user_session_path)
          =link_to(image_tag("/assets/sigup.png"), new_user_registration_path)
        =h yield(:top_bar)
    = yield
  / end container
  #footer
    #footer-container-top
      / start footer-container-top
      #footer-lefcolumn
        / start lefcolumn
        .col1
          %h5 Solutions
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
        .col1
          %h5 Services
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
        .col1
          %h5 Benefits
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
        .col1
          %h5 Company
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
        .col1
          %h5 Plan & Pricing
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
      / end lefcolumn
      #footer-rightcolumn
        / start footer-bar
        %ul
          %li
            %a{:href => "#"}
              %img{:src => "/assets/facebook.png"}/
            %p Facebook
          %li
            %a{:href => "#"}
              %img{:src => "/assets/twitter.png"}/
            %p Twitter
          %li
            %a{:href => "#"}
              %img{:src => "/assets/blog.png"}/
            %p Blog
          %li.right
            %a{:href => "#"}
              %img{:src => "/assets/youtub.png"}/
            %p YouTube
      / end footer-bar
      #footer-container-bottom
        / start footer-container-bottom
        %p © 2009, 2010 Mobile Tribe Management Corporation
        .bottom_nav
          %ul
            %li
              %a{:href => "#"} About Us
            %li
              %a{:href => "#"} |Contact Us
            %li
              %a{:href => "#"} |Privacy
            %li
              %a{:href => "#"} |Help
            %li
              %a{:href => "#"} |Blog
            %li
              %a{:href => "#"} Contact Us
        .button_contact
          %a{:href => "#"}
            %img{:src => "/assets/cont_us.png"}/
      / end footer-container-bottom
    / end footer-container-top
  / end footer
