<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%=h yield(:title) %></title>
    <meta name="description" content="" />
	<meta name="keywords" content="" />
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "feature-carousel" %>
	<%= stylesheet_link_tag "slider" %>
	<%= javascript_include_tag "application" %>
	</head>
<body
	<div id="container"><!--start container-->
		<div id="wrapper"><!--start wrapper-->
			<div id="header"><!--start header-->		
				<div id="logo"><!--start logo-->			
				</div><!--end logo-->
				<div id="navigation"><!--start navigation-->
					<ul>
						<li><a href="#">SERVICES</a></li>
						<li><a href="#">BENEFITS</a></li>
						<li><a href="#">PLAN&PRACING</a></li>
					</ul>						
						<a href="#"><img src="/assets/login.png"></a>
						<a href="#"><img src="/assets/sigup.png"></a>					
				</div><!--end navigation-->
				<div class="simple_busines"><!--start simple_busines-->
					Simplify your digital business!
				</div><!--end simple_busines-->
				<div class="ict_text"><!--start ict_text-->
					<h2>ICT Cloud Services - For Small and Medium Businesses</h2>
				</div><!--end ict_text-->
				<div class="ict_description"><!--start ict_description-->
					Select and provision all your office applications, services and devices from one easy to use location
				</div><!--end ict_description-->
				<div id="services_slider">
				    <div class="carousel-container">
					  <div id="carousel">
						<div class="carousel-feature">
						    <a href="#"><img class="carousel-image" alt="Image Caption" src="/assets/slider/sample1.jpg"></a>
						    <div class="carousel-caption">
						  
						    </div>
						</div>
						<div class="carousel-feature">
						    <a href="#"><img class="carousel-image" alt="Image Caption" src="/assets/slider/sample2.jpg"></a>
						    <div class="carousel-caption">
						   
						    </div>
						</div>
						<div class="carousel-feature">
						    <a href="#"><img class="carousel-image" alt="Image Caption" src="/assets/slider/sample3.jpg"></a>
						    <div class="carousel-caption">
						   
						    </div>
						</div>
						<div class="carousel-feature">
						    <a href="#"><img class="carousel-image" alt="Image Caption" src="/assets/slider/sample4.jpg"></a>
						    </div>
						    <div class="carousel-feature">
						        <a href="#"><img class="carousel-image" alt="Image Caption" src="/assets/slider/sample5.jpg"></a>
						        <div class="carousel-caption">
						   
						        </div>
							</div>
						</div>		
					</div>
					<div class="right_but">
						<div class="verx"><img src="/assets/strelka_verx.png"></div>
						<div class="center_up"><a href="#"><img src="/assets/signupnow.png"></a></div>
						<div class="niz"><img src="/assets/strelka_niz.png"></div>
						
					</div>
				</div>
			</div><!--end header-->		
		</div><!--end wrapper-->		
		<%= yield %>
	</div><!--end container-->	
	<div id="footer">
		<div id="footer-container-top"><!--start footer-container-top-->
			<div id="footer-lefcolumn"><!--start lefcolumn-->
				<div class="col1">
					<h5>Solutions</h5>
					<ul>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
					</ul>
				</div>
				<div class="col1">
					<h5>Services</h5>
					<ul>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
					</ul>
				</div>
				<div class="col1">
					<h5>Benefits</h5>
					<ul>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
					</ul>
				</div>
				<div class="col1">
					<h5>Company</h5>
					<ul>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
					</ul>
				</div>
				<div class="col1">
					<h5>Plan & Pricing</h5>
					<ul>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
						<li><a href="#">Lorem Ipsum</a></li>
					</ul>
				</div>					
			</div><!--end lefcolumn-->
			<div id="footer-rightcolumn"><!--start footer-bar-->
				<ul>
					<li><a href="#"><img src="/assets/facebook.png"><p>Facebook</p></a></li>
					<li><a href="#"><img src="/assets/twitter.png"><p>Twitter</p></a></li>
					<li><a href="#"><img src="/assets/blog.png"><p>Blog</p></a></li>
					<li class="right"><a href="#"><img src="/assets/youtub.png"><p>YouTube</p></a></li>
				</ul>
			</div><!--end footer-bar-->
			<div id="footer-container-bottom"><!--start footer-container-bottom-->
				<p>© 2009, 2010 Mobile Tribe Management Corporation </p>
				<div class="bottom_nav">
					<ul>
						<li><a href="#">About Us</a></li> 
						<li><a href="#">|Contact Us</a></li> 
						<li><a href="#">|Privacy</a></li> 
						<li><a href="#">|Help</a></li> 
						<li><a href="#">|Blog</a></li> 
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="button_contact">
					<a href="#"><img src="/assets/cont_us.png"></a>
				</div>
			</div><!--end footer-container-bottom-->
		</div><!--end footer-container-top-->
	</div><!--end footer-->
</body>
</html>